<h5>{{ model.name }}</h5>
<div class="row">
  <div class="col s8">
    {{experiment-table experiments=model.experiments}}
  </div>
  <div class="col s4">
    <table>
      <thead>
      <tr>
        <th colspan="2">Settings</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Timeout mode:</th>
        <td>{{model.timeoutmode_str}}</td>
      </tr>
      <tr>
        <th>Timeout delay:</th>
        <td>{{model.timeoutvalue}} ms</td>
      </tr>
      <tr>
        <th>Feedback mode:</th>
        <td>{{model.feedbackmode_str}}</td>
      </tr>
      <tr>
        <th>Repeats:</th>
        <td>{{model.repeatscount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{{outlet}}
