<h5>{{model.name}}</h5>
<div class="row">
  <div class="col s8">
    <table class="highlight">
      <thead>
      <tr>
        <th>Session number</th>
        <th>Status</th>
        <th>Progress</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.sessions as |session|}}
        <tr>
          <td>{{#link-to 'manage.experiment.show.session.show' session}}
            {{session.number}}
          {{/link-to}}</td>
          <td>{{session.status}}</td>
          <td>{{custom-progressbar progress=session.progress}}</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3">No session have been started yet</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col s4">
    <table>
      <thead>
      <tr>
        <th colspan="2">Experiment</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Status:</th>
        <td>{{model.status}}</td>
      </tr>
      <tr>
        <th>Created on:</th>
        <td>{{moment-calendar model.createdon}}</td>
      </tr>
      {{#if model.startedon}}
        <tr>
          <th>Started on:</th>
          <td>{{moment-calendar model.startedon}}</td>
        </tr>
      {{/if}}
      {{#if model.finishedon}}
        <tr>
          <th>Finished on:</th>
          <td>{{moment-calendar model.finishedon}}</td>
        </tr>
      {{/if}}
      </tbody>
      <thead>
      <tr>
        <th colspan="2">Preset</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Name:</th>
        <td>
          {{#link-to 'manage.preset.show' model.settings}}
            {{model.settings.name}}
          {{/link-to}}
        </td>
      </tr>
      <tr>
        <th>Timeout mode:</th>
        <td>{{model.settings.timeoutmode}}</td>
      </tr>
      <tr>
        <th>Timeout delay:</th>
        <td>{{model.settings.timeoutvalue}} ms</td>
      </tr>
      <tr>
        <th>Feedback mode:</th>
        <td>{{model.settings.feedbackmode}}</td>
      </tr>
      <tr>
        <th>Repeats:</th>
        <td>{{model.settings.repeatscount}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
{{outlet}}