<h5>Session {{model.number}}</h5>
<div class="row">
  <div class="col s8">
    <table>
      <thead>
      <tr>
        <th colspan="2">Lightset</th>
        <th>Status</th>
        <th>User</th>
      </tr>
      </thead>
      <tbody>
      {{#each model.combinations as |combination|}}
        <tr>
          <td>
            {{#link-to 'manage.experiment.show.session.show.combination.show' combination}}
              {{combination.lightset}}
            {{/link-to}}
          </td>
          <td>
            {{lightset-display lightset=combination.lightset}}
          </td>
          <td>{{combination.status_str}}</td>
          <td>Mike-Noone</td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3">No data as of yet</td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  </div>
  <div class="col s4">
    <table>
      <thead>
      <tr>
        <th colspan="2">Session</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <th>Status:</th>
        <td>{{model.status_str}}</td>
      </tr>
      <tr>
        <th>Progress:</th>
        <td>{{custom-progressbar progress=model.progress}}</td>
      </tr>
      <tr>
        <th>Started on:</th>
        <td>{{moment-calendar model.startedon}}</td>
      </tr>
      {{#if model.finishedon}}
        <tr>
          <th>Finished on:</th>
          <td>{{moment-calendar model.finishedon}}</td>
        </tr>
      {{/if}}
      </tbody>
    </table>
  </div>
</div>
{{outlet}}